<div >
    <div>
        <h2>Feedback requests</h2>
    </div>
    <div>
        <table>
            <tr>
              <th>User</th>
              <th>Date</th>
              <th>Comment</th>
              <th>Comment's state</th>
              <th></th>
            </tr>
            <ng-container *ngFor="let feedback of feedbacks">
            <tr>
                <td>{{feedback.personId}}</td>
                <td></td>
                <td>{{feedback.text}}</td>
                <td>{{GetFeedbackState(feedback)}}</td>
                <div *ngIf="GetFeedbackState(feedback) == 'pending'">
                  <button class="btn btn-primary btn-block" (click) = "approveRequest(feedback)">Approve</button>
                  <button (click) = "rejectRequest(feedback)">Reject</button>
                </div>
                <div *ngIf="GetFeedbackState(feedback) != 'pending'">
                  <button (click) = "withdrawAction(feedback)">Withdraw action</button>
                </div>
              </tr>
            </ng-container>
          </table>
    </div>
</div>